In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [145]:
#chrono = pd.read_csv('BB_20190227_chronostrat.csv', index_col=('Well','Period'))
chrono = pd.read_csv('BB_20190227_chronostrat.csv', index_col='Well')
#chrono = pd.read_csv('BB_20190227_chronostrat.csv')
data = pd.read_csv('BB_20190227_RE_data.csv', index_col='Well')
#data = pd.read_csv('BB_20190227_RE_data.csv')

In [146]:
chrono[105:]

     Period  Top_depth_m  Base_depth_m  Thickness_m  Top_age_Ma  Bottom_age_Ma
Well
NaN     NaN          NaN           NaN          NaN         NaN            NaN
NaN     NaN          NaN           NaN          NaN         NaN            NaN
NaN     NaN          NaN           NaN          NaN         NaN            NaN
NaN     NaN          NaN           NaN          NaN         NaN            NaN
NaN     NaN          NaN           NaN          NaN         NaN            NaN
NaN     NaN          NaN           NaN          NaN         NaN            NaN

In [147]:
chrono.dropna(inplace=True)

In [148]:
chrono.tail()

,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma
Well,,,,,,
6406/3-1,LOWER TOARCIAN,4075.0,4195.0,120.0,184.0,190.4
6406/3-1,PLIENSBACHIAN,4195.0,4255.0,60.0,187.0,194.5
6406/3-1,LOWER SINEMURIAN,4255.0,4705.0,450.0,199.0,208.0
6406/3-1,RHAETIAN,4705.0,4886.0,181.0,208.0,209.5
6406/3-1,UPPER TRIASSIC,4886.0,4902.0,16.0,208.0,235.0

In [149]:
data.head()

,Depth m RKB,Formation (NPD),Type of measurement,samplith,tmax,s1,s2,s3,toc,HI,pi,company_name
Well,,,,,,,,,,,,
6406/2-1,2510,SPRINGAR FM,DC,SH/CLYST,356.0,2.20,4.61,2.14,1.15,401,0.32,GEOLABNOR
6406/2-1,2520,SPRINGAR FM,DC,SH/CLYST,362.0,1.05,3.00,1.74,1.00,300,0.26,GEOLABNOR
6406/2-1,2530,SPRINGAR FM,DC,SH/CLYST,360.0,1.85,4.23,2.54,1.01,419,0.30,GEOLABNOR
6406/2-1,2540,SPRINGAR FM,DC,CLYST/SH,360.0,1.34,2.97,1.72,0.80,371,0.31,GEOLABNOR(SAGA)
6406/2-1,2540,SPRINGAR FM,DC,SH/CLYST,360.0,1.34,2.97,1.72,0.80,371,0.31,GEOLABNOR

In [22]:
print('Chrono row,columns',chrono.shape)
print('Data row,columns',data.shape)

Chrono row,columns (105, 7)
Data row,columns (303, 13)

In [23]:
chrono.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 0 to 104
Data columns (total 7 columns):
Well             105 non-null object
Period           105 non-null object
Top_depth_m      105 non-null float64
Base_depth_m     105 non-null float64
Thickness_m      105 non-null float64
Top_age_Ma       105 non-null float64
Bottom_age_Ma    105 non-null float64
dtypes: float64(5), object(2)
memory usage: 6.6+ KB

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
Well                   303 non-null object
Depth m RKB            303 non-null int64
Formation (NPD)        303 non-null object
Type of measurement    303 non-null object
samplith               303 non-null object
tmax                   296 non-null float64
s1                     303 non-null float64
s2                     303 non-null float64
s3                     272 non-null float64
toc                    303 non-null float64
HI                     303 non-null int64
pi                     303 non-null float64
company_name           303 non-null object
dtypes: float64(6), int64(2), object(5)
memory usage: 30.9+ KB

In [25]:
#Show missing entries
def num_missing(x):
  return sum(x.isnull())

In [26]:
#Applying per column:
print ("Missing values per column:")
print (chrono.apply(num_missing, axis=0)) #axis=0 column

#Applying per row:
print ("\nMissing values per row:")
print (chrono.apply(num_missing, axis=1).head()) #axis=1 row

Missing values per column:
Well             0
Period           0
Top_depth_m      0
Base_depth_m     0
Thickness_m      0
Top_age_Ma       0
Bottom_age_Ma    0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [27]:
#Applying per column:
print ("Missing values per column:")
print (data.apply(num_missing, axis=0)) #axis=0 column

#Applying per row:
print ("\nMissing values per row:")
print (data.apply(num_missing, axis=1).head()) #axis=1 row

Missing values per column:
Well                    0
Depth m RKB             0
Formation (NPD)         0
Type of measurement     0
samplith                0
tmax                    7
s1                      0
s2                      0
s3                     31
toc                     0
HI                      0
pi                      0
company_name            0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [28]:
#Applying per column:
print ("Missing values per column:")
print (chrono.apply(num_missing, axis=0)) #axis=0 column

#Applying per row:
print ("\nMissing values per row:")
print (chrono.apply(num_missing, axis=1).head()) #axis=1 row

Missing values per column:
Well             0
Period           0
Top_depth_m      0
Base_depth_m     0
Thickness_m      0
Top_age_Ma       0
Bottom_age_Ma    0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [29]:
#chrono['Well'].unique() # 'Well' is index - how to access index

In [30]:
#chrono['Well'].nunique() # 'Well' is index

In [31]:
#chrono[chrono['Well']=='6406/2-1']['Top_depth_m'].hist()

In [33]:
#chrono[chrono['Well']=='6406/2-1'][['Top_depth_m', 'Base_depth_m']] < data['Depth m RKB']

In [34]:
print (chrono[chrono['Well']=='6406/2-1']['Top_depth_m'].min())
print (chrono[chrono['Well']=='6406/2-1']['Top_depth_m'].max())

302.0
5190.0

In [ ]:
data.groupby('Well')['Formation (NPD)'].nunique()

In [121]:
chrono.head()

,Well,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma
0,6406/2-1,QUATERNARY,302.0,1240.0,938.0,0.00,65.00
1,6406/2-1,UPPER PLIOCENE,1240.0,1690.0,450.0,1.64,2.52
2,6406/2-1,LOWER PLIOCENE,1690.0,1720.0,30.0,3.40,4.30
3,6406/2-1,LOWER PLIOCENE,1720.0,1730.0,10.0,3.40,4.30
4,6406/2-1,UPPER MIOCENE,1730.0,1800.0,70.0,5.20,10.40

In [167]:
c_dict = chrono[['Period','Top_depth_m','Base_depth_m']].to_dict('series')

In [177]:
print(c_dict['Period'])

Well
6406/2-1             QUATERNARY
6406/2-1         UPPER PLIOCENE
6406/2-1         LOWER PLIOCENE
6406/2-1         LOWER PLIOCENE
6406/2-1          UPPER MIOCENE
6406/2-1         MIDDLE MIOCENE
6406/2-1          LOWER MIOCENE
6406/2-1        UPPER OLIGOCENE
6406/2-1        LOWER OLIGOCENE
6406/2-1          MIDDLE EOCENE
6406/2-1           LOWER EOCENE
6406/2-1           BASAL EOCENE
6406/2-1         UPPER PLIOCENE
6406/2-1        UPPER CAMPANIAN
6406/2-1       MIDDLE CAMPANIAN
6406/2-1        LOWER CAMPANIAN
6406/2-1              SANTONIAN
6406/2-1              CONIACIAN
6406/2-1         UPPER TURONIAN
6406/2-1         LOWER TURONIAN
6406/2-1       UPPER CENOMANIAN
6406/2-1      MIDDLE CENOMANIAN
6406/2-1       LOWER CENOMANIAN
6406/2-1           UPPER ALBIAN
6406/2-1          MIDDLE ALBIAN
6406/2-1                 APTIAN
6406/2-1            HAUTERIVIAN
6406/2-1              RYAZANIAN
6406/2-1              OXFORDIAN
6406/2-1        LOWER CALLOVIAN
                   ...
6406/3-1               PLIOCENE
6406/3-1         LOWER PLIOCENE
6406/3-1          UPPER MIOCENE
6406/3-1         MIDDLE MIOCENE
6406/3-1          LOWER MIOCENE
6406/3-1        UPPER OLIGOCENE
6406/3-1        LOWER OLIGOCENE
6406/3-1           UPPER EOCENE
6406/3-1           LOWER EOCENE
6406/3-1           LOWER EOCENE
6406/3-1        UPPER PALEOCENE
6406/3-1        LOWER PALEOCENE
6406/3-1                 DANIAN
6406/3-1    LOWER MAASTRICHTIAN
6406/3-1        LOWER CAMPANIAN
6406/3-1       UPPER CRETACEOUS
6406/3-1                 ALBIAN
6406/3-1              BARREMIAN
6406/3-1            PORTLANDIAN
6406/3-1              OXFORDIAN
6406/3-1        LOWER OXFORDIAN
6406/3-1        LOWER OXFORDIAN
6406/3-1        LOWER BATHONIAN
6406/3-1               AALENIAN
6406/3-1         UPPER TOARCIAN
6406/3-1         LOWER TOARCIAN
6406/3-1          PLIENSBACHIAN
6406/3-1       LOWER SINEMURIAN
6406/3-1               RHAETIAN
6406/3-1         UPPER TRIASSIC
Name: Period, Length: 105, dtype: object

In [171]:
print(c_dict.values())
print(c_dict.items())

TypeError: keys() takes no arguments (1 given)

In [65]:
chronox = chrono.head()
chronox

,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma
Well,,,,,,
6406/2-1,QUATERNARY,302.0,1240.0,938.0,0.00,65.00
6406/2-1,UPPER PLIOCENE,1240.0,1690.0,450.0,1.64,2.52
6406/2-1,LOWER PLIOCENE,1690.0,1720.0,30.0,3.40,4.30
6406/2-1,LOWER PLIOCENE,1720.0,1730.0,10.0,3.40,4.30
6406/2-1,UPPER MIOCENE,1730.0,1800.0,70.0,5.20,10.40

In [100]:
c_dict = chrono.to_dict()

In [101]:
c_dict

{'Well': {0: '6406/2-1',
  1: '6406/2-1',
  2: '6406/2-1',
  3: '6406/2-1',
  4: '6406/2-1',
  5: '6406/2-1',
  6: '6406/2-1',
  7: '6406/2-1',
  8: '6406/2-1',
  9: '6406/2-1',
  10: '6406/2-1',
  11: '6406/2-1',
  12: '6406/2-1',
  13: '6406/2-1',
  14: '6406/2-1',
  15: '6406/2-1',
  16: '6406/2-1',
  17: '6406/2-1',
  18: '6406/2-1',
  19: '6406/2-1',
  20: '6406/2-1',
  21: '6406/2-1',
  22: '6406/2-1',
  23: '6406/2-1',
  24: '6406/2-1',
  25: '6406/2-1',
  26: '6406/2-1',
  27: '6406/2-1',
  28: '6406/2-1',
  29: '6406/2-1',
  30: '6406/2-1',
  31: '6406/2-1',
  32: '6406/2-1',
  33: '6406/2-1',
  34: '6406/2-1',
  35: '6406/2-1',
  36: '6406/2-1',
  37: '6406/2-1',
  38: '6406/2-1',
  39: '6406/2-2',
  40: '6406/2-2',
  41: '6406/2-2',
  42: '6406/2-2',
  43: '6406/2-2',
  44: '6406/2-2',
  45: '6406/2-2',
  46: '6406/2-2',
  47: '6406/2-2',
  48: '6406/2-2',
  49: '6406/2-2',
  50: '6406/2-2',
  51: '6406/2-2',
  52: '6406/2-2',
  53: '6406/2-2',
  54: '6406/2-2',
  55: '6406/2-2',
  56: '6406/2-2',
  57: '6406/2-2',
  58: '6406/2-2',
  59: '6406/2-2',
  60: '6406/2-2',
  61: '6406/2-2',
  62: '6406/2-2',
  63: '6406/2-2',
  64: '6406/2-2',
  65: '6406/2-2',
  66: '6406/2-2',
  67: '6406/2-2',
  68: '6406/2-2',
  69: '6406/2-2',
  70: '6406/2-2',
  71: '6406/2-2',
  72: '6406/2-2',
  73: '6406/2-2',
  74: '6406/3-1',
  75: '6406/3-1',
  76: '6406/3-1',
  77: '6406/3-1',
  78: '6406/3-1',
  79: '6406/3-1',
  80: '6406/3-1',
  81: '6406/3-1',
  82: '6406/3-1',
  83: '6406/3-1',
  84: '6406/3-1',
  85: '6406/3-1',
  86: '6406/3-1',
  87: '6406/3-1',
  88: '6406/3-1',
  89: '6406/3-1',
  90: '6406/3-1',
  91: '6406/3-1',
  92: '6406/3-1',
  93: '6406/3-1',
  94: '6406/3-1',
  95: '6406/3-1',
  96: '6406/3-1',
  97: '6406/3-1',
  98: '6406/3-1',
  99: '6406/3-1',
  100: '6406/3-1',
  101: '6406/3-1',
  102: '6406/3-1',
  103: '6406/3-1',
  104: '6406/3-1',
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Period': {0: 'QUATERNARY',
  1: 'UPPER PLIOCENE',
  2: 'LOWER PLIOCENE',
  3: 'LOWER PLIOCENE',
  4: 'UPPER MIOCENE',
  5: 'MIDDLE MIOCENE',
  6: 'LOWER MIOCENE',
  7: 'UPPER OLIGOCENE',
  8: 'LOWER OLIGOCENE',
  9: 'MIDDLE EOCENE',
  10: 'LOWER EOCENE',
  11: 'BASAL EOCENE',
  12: 'UPPER PLIOCENE',
  13: 'UPPER CAMPANIAN',
  14: 'MIDDLE CAMPANIAN',
  15: 'LOWER CAMPANIAN',
  16: 'SANTONIAN',
  17: 'CONIACIAN',
  18: 'UPPER TURONIAN',
  19: 'LOWER TURONIAN',
  20: 'UPPER CENOMANIAN',
  21: 'MIDDLE CENOMANIAN',
  22: 'LOWER CENOMANIAN',
  23: 'UPPER ALBIAN',
  24: 'MIDDLE ALBIAN',
  25: 'APTIAN',
  26: 'HAUTERIVIAN',
  27: 'RYAZANIAN',
  28: 'OXFORDIAN',
  29: 'LOWER CALLOVIAN',
  30: 'MIDDLE BATHONIAN',
  31: 'LOWER BATHONIAN',
  32: 'LOWER BAJOCIAN',
  33: 'AALENIAN',
  34: 'TOARCIAN',
  35: 'JURASSIC',
  36: 'UPPER PLIENSBACHIAN',
  37: 'LOWER PLIENSBACHIAN',
  38: 'HETTANGIAN',
  39: 'QUATERNARY',
  40: 'UPPER PLIOCENE',
  41: 'LOWER PLIOCENE',
  42: 'UPPER MIOCENE',
  43: 'UPPER MIOCENE',
  44: 'MIDDLE MIOCENE',
  45: 'UPPER OLIGOCENE',
  46: 'LOWER OLIGOCENE',
  47: 'UPPER EOCENE',
  48: 'MIDDLE EOCENE',
  49: 'LOWER EOCENE',
  50: 'BASAL EOCENE',
  51: 'UPPER PALEOCENE',
  52: 'UPPER CAMPANIAN',
  53: 'LOWER CAMPANIAN',
  54: 'LOWER CAMPANIAN',
  55: 'LOWER SANTONIAN',
  56: 'CONIACIAN',
  57: 'MIDDLE TURONIAN',
  58: 'CENOMANIAN',
  59: 'MIDDLE CENOMANIAN',
  60: 'UPPER ALBIAN',
  61: 'UPPER ALBIAN',
  62: 'LOWER ALBIAN',
  63: 'LOWER APTIAN',
  64: 'UPPER HAUTERIVIAN',
  65: 'RYAZANIAN',
  66: 'OXFORDIAN',
  67: 'LOWER BATHONIAN',
  68: 'BAJOCIAN',
  69: 'LOWER BAJOCIAN',
  70: 'UPPER TOARCIAN',
  71: 'UPPER PLIENSBACHIAN',
  72: 'LOWER PLIENSBACHIAN',
  73: 'HETTANGIAN',
  74: 'RECENT',
  75: 'PLIOCENE',
  76: 'LOWER PLIOCENE',
  77: 'UPPER MIOCENE',
  78: 'MIDDLE MIOCENE',
  79: 'LOWER MIOCENE',
  80: 'UPPER OLIGOCENE',
  81: 'LOWER OLIGOCENE',
  82: 'UPPER EOCENE',
  83: 'LOWER EOCENE',
  84: 'LOWER EOCENE',
  85: 'UPPER PALEOCENE',
  86: 'LOWER PALEOCENE',
  87: 'DANIAN',
  88: 'LOWER MAASTRICHTIAN',
  89: 'LOWER CAMPANIAN',
  90: 'UPPER CRETACEOUS',
  91: 'ALBIAN',
  92: 'BARREMIAN',
  93: 'PORTLANDIAN',
  94: 'OXFORDIAN',
  95: 'LOWER OXFORDIAN',
  96: 'LOWER OXFORDIAN',
  97: 'LOWER BATHONIAN',
  98: 'AALENIAN',
  99: 'UPPER TOARCIAN',
  100: 'LOWER TOARCIAN',
  101: 'PLIENSBACHIAN',
  102: 'LOWER SINEMURIAN',
  103: 'RHAETIAN',
  104: 'UPPER TRIASSIC',
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Top_depth_m': {0: 302.0,
  1: 1240.0,
  2: 1690.0,
  3: 1720.0,
  4: 1730.0,
  5: 1800.0,
  6: 1990.0,
  7: 2010.0,
  8: 2080.0,
  9: 2192.0,
  10: 2350.0,
  11: 2386.0,
  12: 2450.0,
  13: 2503.0,
  14: 2610.0,
  15: 2690.0,
  16: 2848.0,
  17: 3070.0,
  18: 3380.0,
  19: 3450.0,
  20: 3960.0,
  21: 4005.0,
  22: 4008.0,
  23: 4132.0,
  24: 4300.0,
  25: 4340.0,
  26: 4352.0,
  27: 4371.0,
  28: 4381.0,
  29: 4389.0,
  30: 4401.0,
  31: 4419.0,
  32: 4575.0,
  33: 4608.0,
  34: 4910.0,
  35: 4925.0,
  36: 4931.0,
  37: 4980.0,
  38: 5190.0,
  39: 296.0,
  40: 1280.0,
  41: 1700.0,
  42: 1720.0,
  43: 1740.0,
  44: 1890.0,
  45: 2030.0,
  46: 2080.0,
  47: 2170.0,
  48: 2200.0,
  49: 2370.0,
  50: 2410.0,
  51: 2480.0,
  52: 2540.0,
  53: 2710.0,
  54: 2910.0,
  55: 2950.0,
  56: 3070.0,
  57: 3340.0,
  58: 3600.0,
  59: 4040.0,
  60: 4215.0,
  61: 4260.0,
  62: 4285.0,
  63: 4345.0,
  64: 4354.0,
  65: 4375.0,
  66: 4385.0,
  67: 4415.0,
  68: 4461.0,
  69: 4588.0,
  70: 4766.0,
  71: 4978.0,
  72: 4992.0,
  73: 5291.0,
  74: 278.0,
  75: 615.0,
  76: 1450.0,
  77: 1580.0,
  78: 1760.0,
  79: 1850.0,
  80: 1910.0,
  81: 1940.0,
  82: 1980.0,
  83: 2190.0,
  84: 2279.0,
  85: 2320.0,
  86: 2380.0,
  87: 2410.0,
  88: 2425.0,
  89: 2440.0,
  90: 2620.0,
  91: 3205.0,
  92: 3648.0,
  93: 3662.0,
  94: 3668.0,
  95: 3686.0,
  96: 3698.0,
  97: 3775.0,
  98: 3895.0,
  99: 4031.0,
  100: 4075.0,
  101: 4195.0,
  102: 4255.0,
  103: 4705.0,
  104: 4886.0,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Base_depth_m': {0: 1240.0,
  1: 1690.0,
  2: 1720.0,
  3: 1730.0,
  4: 1800.0,
  5: 1990.0,
  6: 2010.0,
  7: 2080.0,
  8: 2192.0,
  9: 2350.0,
  10: 2386.0,
  11: 2450.0,
  12: 2503.0,
  13: 2610.0,
  14: 2690.0,
  15: 2848.0,
  16: 3070.0,
  17: 3380.0,
  18: 3450.0,
  19: 3960.0,
  20: 4005.0,
  21: 4008.0,
  22: 4132.0,
  23: 4300.0,
  24: 4340.0,
  25: 4352.0,
  26: 4371.0,
  27: 4381.0,
  28: 4389.0,
  29: 4401.0,
  30: 4419.0,
  31: 4575.0,
  32: 4608.0,
  33: 4910.0,
  34: 4925.0,
  35: 4931.0,
  36: 4980.0,
  37: 5190.0,
  38: 5295.0,
  39: 1280.0,
  40: 1700.0,
  41: 1720.0,
  42: 1740.0,
  43: 1890.0,
  44: 2030.0,
  45: 2080.0,
  46: 2170.0,
  47: 2200.0,
  48: 2370.0,
  49: 2410.0,
  50: 2480.0,
  51: 2540.0,
  52: 2710.0,
  53: 2910.0,
  54: 2950.0,
  55: 3070.0,
  56: 3340.0,
  57: 3600.0,
  58: 4040.0,
  59: 4215.0,
  60: 4260.0,
  61: 4285.0,
  62: 4345.0,
  63: 4354.0,
  64: 4375.0,
  65: 4385.0,
  66: 4415.0,
  67: 4461.0,
  68: 4588.0,
  69: 4766.0,
  70: 4978.0,
  71: 4992.0,
  72: 5291.0,
  73: 5367.0,
  74: 615.0,
  75: 1450.0,
  76: 1580.0,
  77: 1760.0,
  78: 1850.0,
  79: 1910.0,
  80: 1940.0,
  81: 1980.0,
  82: 2190.0,
  83: 2279.0,
  84: 2320.0,
  85: 2380.0,
  86: 2410.0,
  87: 2425.0,
  88: 2440.0,
  89: 2620.0,
  90: 3205.0,
  91: 3648.0,
  92: 3662.0,
  93: 3668.0,
  94: 3686.0,
  95: 3698.0,
  96: 3775.0,
  97: 3895.0,
  98: 4031.0,
  99: 4075.0,
  100: 4195.0,
  101: 4255.0,
  102: 4705.0,
  103: 4886.0,
  104: 4902.0,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Thickness_m': {0: 938.0,
  1: 450.0,
  2: 30.0,
  3: 10.0,
  4: 70.0,
  5: 190.0,
  6: 20.0,
  7: 70.0,
  8: 112.0,
  9: 158.0,
  10: 36.0,
  11: 64.0,
  12: 53.0,
  13: 107.0,
  14: 80.0,
  15: 158.0,
  16: 222.0,
  17: 310.0,
  18: 70.0,
  19: 510.0,
  20: 45.0,
  21: 3.0,
  22: 124.0,
  23: 168.0,
  24: 40.0,
  25: 12.0,
  26: 19.0,
  27: 10.0,
  28: 8.0,
  29: 12.0,
  30: 18.0,
  31: 156.0,
  32: 33.0,
  33: 302.0,
  34: 15.0,
  35: 6.0,
  36: 49.0,
  37: 210.0,
  38: 105.0,
  39: 984.0,
  40: 420.0,
  41: 20.0,
  42: 20.0,
  43: 150.0,
  44: 140.0,
  45: 50.0,
  46: 90.0,
  47: 30.0,
  48: 170.0,
  49: 40.0,
  50: 70.0,
  51: 60.0,
  52: 170.0,
  53: 200.0,
  54: 40.0,
  55: 120.0,
  56: 270.0,
  57: 260.0,
  58: 440.0,
  59: 175.0,
  60: 45.0,
  61: 25.0,
  62: 60.0,
  63: 9.0,
  64: 21.0,
  65: 10.0,
  66: 30.0,
  67: 46.0,
  68: 127.0,
  69: 178.0,
  70: 212.0,
  71: 14.0,
  72: 299.0,
  73: 76.0,
  74: 337.0,
  75: 835.0,
  76: 130.0,
  77: 180.0,
  78: 90.0,
  79: 60.0,
  80: 30.0,
  81: 40.0,
  82: 210.0,
  83: 89.0,
  84: 41.0,
  85: 60.0,
  86: 30.0,
  87: 15.0,
  88: 15.0,
  89: 180.0,
  90: 585.0,
  91: 443.0,
  92: 14.0,
  93: 6.0,
  94: 18.0,
  95: 12.0,
  96: 77.0,
  97: 120.0,
  98: 136.0,
  99: 44.0,
  100: 120.0,
  101: 60.0,
  102: 450.0,
  103: 181.0,
  104: 16.0,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Top_age_Ma': {0: 0.0,
  1: 1.64,
  2: 3.4,
  3: 3.4,
  4: 5.2,
  5: 10.4,
  6: 16.3,
  7: 23.3,
  8: 29.3,
  9: 38.6,
  10: 50.0,
  11: 57.0,
  12: 1.64,
  13: 74.0,
  14: 77.0,
  15: 78.5,
  16: 83.0,
  17: 86.6,
  18: 88.5,
  19: 89.8,
  20: 90.4,
  21: 92.6,
  22: 94.8,
  23: 97.0,
  24: 102.0,
  25: 112.0,
  26: 131.8,
  27: 140.7,
  28: 154.7,
  29: 159.9,
  30: 162.9,
  31: 164.5,
  32: 169.8,
  33: 173.5,
  34: 178.0,
  35: 145.6,
  36: 187.0,
  37: 190.4,
  38: 203.5,
  39: 0.0,
  40: 1.64,
  41: 3.4,
  42: 5.2,
  43: 5.2,
  44: 10.4,
  45: 23.3,
  46: 29.3,
  47: 35.4,
  48: 38.6,
  49: 50.0,
  50: 57.0,
  51: 57.2,
  52: 74.0,
  53: 78.5,
  54: 78.5,
  55: 84.8,
  56: 86.6,
  57: 88.9,
  58: 90.4,
  59: 92.6,
  60: 97.0,
  61: 97.0,
  62: 107.0,
  63: 118.3,
  64: 131.8,
  65: 140.7,
  66: 154.7,
  67: 164.5,
  68: 166.1,
  69: 169.8,
  70: 178.0,
  71: 187.0,
  72: 190.4,
  73: 203.5,
  74: 0.0,
  75: 1.64,
  76: 3.4,
  77: 5.2,
  78: 10.4,
  79: 16.3,
  80: 23.3,
  81: 29.3,
  82: 35.4,
  83: 50.0,
  84: 50.0,
  85: 57.2,
  86: 60.5,
  87: 60.5,
  88: 69.5,
  89: 78.5,
  90: 65.0,
  91: 97.0,
  92: 124.5,
  93: 145.6,
  94: 154.7,
  95: 156.4,
  96: 156.4,
  97: 164.5,
  98: 173.5,
  99: 178.0,
  100: 184.0,
  101: 187.0,
  102: 199.0,
  103: 208.0,
  104: 208.0,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan},
 'Bottom_age_Ma': {0: 65.0,
  1: 2.52,
  2: 4.3,
  3: 4.3,
  4: 10.4,
  5: 16.3,
  6: 23.3,
  7: 35.4,
  8: 35.4,
  9: 57.2,
  10: 57.2,
  11: 57.2,
  12: 2.52,
  13: 78.5,
  14: 80.0,
  15: 86.6,
  16: 86.6,
  17: 88.5,
  18: 89.8,
  19: 92.6,
  20: 92.6,
  21: 94.8,
  22: 102.0,
  23: 102.0,
  24: 112.0,
  25: 124.5,
  26: 166.1,
  27: 147.6,
  28: 157.1,
  29: 166.1,
  30: 166.1,
  31: 173.5,
  32: 178.0,
  33: 181.0,
  34: 190.4,
  35: 208.0,
  36: 190.4,
  37: 203.5,
  38: 208.0,
  39: 1.64,
  40: 2.52,
  41: 4.3,
  42: 10.4,
  43: 16.3,
  44: 23.3,
  45: 29.3,
  46: 35.4,
  47: 38.6,
  48: 50.0,
  49: 57.2,
  50: 57.2,
  51: 60.5,
  52: 78.5,
  53: 83.0,
  54: 86.6,
  55: 86.6,
  56: 88.9,
  57: 90.4,
  58: 97.0,
  59: 97.0,
  60: 112.0,
  61: 107.0,
  62: 118.3,
  63: 131.8,
  64: 133.4,
  65: 154.7,
  66: 158.5,
  67: 166.1,
  68: 173.5,
  69: 178.0,
  70: 181.0,
  71: 190.4,
  72: 203.5,
  73: 208.0,
  74: 1.64,
  75: 5.2,
  76: 10.4,
  77: 10.4,
  78: 16.3,
  79: 23.3,
  80: 29.3,
  81: 35.4,
  82: 50.0,
  83: 57.2,
  84: 60.5,
  85: 60.5,
  86: 65.0,
  87: 65.0,
  88: 78.5,
  89: 83.0,
  90: 97.0,
  91: 112.0,
  92: 131.8,
  93: 148.85,
  94: 157.1,
  95: 157.1,
  96: 161.3,
  97: 166.1,
  98: 181.0,
  99: 181.0,
  100: 190.4,
  101: 194.5,
  102: 208.0,
  103: 209.5,
  104: 235.0,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan}}

In [75]:
c_dict = {'6406/2-1':{'UPPER MIOCENE':[1730.0, 1800.0], 'QUATERNARY':[302.0, 1240.0,]}}

In [169]:
for keys in c_dict.keys():
    print(keys)

Period
Top_depth_m
Base_depth_m

In [170]:
for values in c_dict.values():
    print(values)

Well
6406/2-1             QUATERNARY
6406/2-1         UPPER PLIOCENE
6406/2-1         LOWER PLIOCENE
6406/2-1         LOWER PLIOCENE
6406/2-1          UPPER MIOCENE
6406/2-1         MIDDLE MIOCENE
6406/2-1          LOWER MIOCENE
6406/2-1        UPPER OLIGOCENE
6406/2-1        LOWER OLIGOCENE
6406/2-1          MIDDLE EOCENE
6406/2-1           LOWER EOCENE
6406/2-1           BASAL EOCENE
6406/2-1         UPPER PLIOCENE
6406/2-1        UPPER CAMPANIAN
6406/2-1       MIDDLE CAMPANIAN
6406/2-1        LOWER CAMPANIAN
6406/2-1              SANTONIAN
6406/2-1              CONIACIAN
6406/2-1         UPPER TURONIAN
6406/2-1         LOWER TURONIAN
6406/2-1       UPPER CENOMANIAN
6406/2-1      MIDDLE CENOMANIAN
6406/2-1       LOWER CENOMANIAN
6406/2-1           UPPER ALBIAN
6406/2-1          MIDDLE ALBIAN
6406/2-1                 APTIAN
6406/2-1            HAUTERIVIAN
6406/2-1              RYAZANIAN
6406/2-1              OXFORDIAN
6406/2-1        LOWER CALLOVIAN
                   ...
6406/3-1               PLIOCENE
6406/3-1         LOWER PLIOCENE
6406/3-1          UPPER MIOCENE
6406/3-1         MIDDLE MIOCENE
6406/3-1          LOWER MIOCENE
6406/3-1        UPPER OLIGOCENE
6406/3-1        LOWER OLIGOCENE
6406/3-1           UPPER EOCENE
6406/3-1           LOWER EOCENE
6406/3-1           LOWER EOCENE
6406/3-1        UPPER PALEOCENE
6406/3-1        LOWER PALEOCENE
6406/3-1                 DANIAN
6406/3-1    LOWER MAASTRICHTIAN
6406/3-1        LOWER CAMPANIAN
6406/3-1       UPPER CRETACEOUS
6406/3-1                 ALBIAN
6406/3-1              BARREMIAN
6406/3-1            PORTLANDIAN
6406/3-1              OXFORDIAN
6406/3-1        LOWER OXFORDIAN
6406/3-1        LOWER OXFORDIAN
6406/3-1        LOWER BATHONIAN
6406/3-1               AALENIAN
6406/3-1         UPPER TOARCIAN
6406/3-1         LOWER TOARCIAN
6406/3-1          PLIENSBACHIAN
6406/3-1       LOWER SINEMURIAN
6406/3-1               RHAETIAN
6406/3-1         UPPER TRIASSIC
Name: Period, Length: 105, dtype: object
Well
6406/2-1     302.0
6406/2-1    1240.0
6406/2-1    1690.0
6406/2-1    1720.0
6406/2-1    1730.0
6406/2-1    1800.0
6406/2-1    1990.0
6406/2-1    2010.0
6406/2-1    2080.0
6406/2-1    2192.0
6406/2-1    2350.0
6406/2-1    2386.0
6406/2-1    2450.0
6406/2-1    2503.0
6406/2-1    2610.0
6406/2-1    2690.0
6406/2-1    2848.0
6406/2-1    3070.0
6406/2-1    3380.0
6406/2-1    3450.0
6406/2-1    3960.0
6406/2-1    4005.0
6406/2-1    4008.0
6406/2-1    4132.0
6406/2-1    4300.0
6406/2-1    4340.0
6406/2-1    4352.0
6406/2-1    4371.0
6406/2-1    4381.0
6406/2-1    4389.0
             ...
6406/3-1     615.0
6406/3-1    1450.0
6406/3-1    1580.0
6406/3-1    1760.0
6406/3-1    1850.0
6406/3-1    1910.0
6406/3-1    1940.0
6406/3-1    1980.0
6406/3-1    2190.0
6406/3-1    2279.0
6406/3-1    2320.0
6406/3-1    2380.0
6406/3-1    2410.0
6406/3-1    2425.0
6406/3-1    2440.0
6406/3-1    2620.0
6406/3-1    3205.0
6406/3-1    3648.0
6406/3-1    3662.0
6406/3-1    3668.0
6406/3-1    3686.0
6406/3-1    3698.0
6406/3-1    3775.0
6406/3-1    3895.0
6406/3-1    4031.0
6406/3-1    4075.0
6406/3-1    4195.0
6406/3-1    4255.0
6406/3-1    4705.0
6406/3-1    4886.0
Name: Top_depth_m, Length: 105, dtype: float64
Well
6406/2-1    1240.0
6406/2-1    1690.0
6406/2-1    1720.0
6406/2-1    1730.0
6406/2-1    1800.0
6406/2-1    1990.0
6406/2-1    2010.0
6406/2-1    2080.0
6406/2-1    2192.0
6406/2-1    2350.0
6406/2-1    2386.0
6406/2-1    2450.0
6406/2-1    2503.0
6406/2-1    2610.0
6406/2-1    2690.0
6406/2-1    2848.0
6406/2-1    3070.0
6406/2-1    3380.0
6406/2-1    3450.0
6406/2-1    3960.0
6406/2-1    4005.0
6406/2-1    4008.0
6406/2-1    4132.0
6406/2-1    4300.0
6406/2-1    4340.0
6406/2-1    4352.0
6406/2-1    4371.0
6406/2-1    4381.0
6406/2-1    4389.0
6406/2-1    4401.0
             ...
6406/3-1    1450.0
6406/3-1    1580.0
6406/3-1    1760.0
6406/3-1    1850.0
6406/3-1    1910.0
6406/3-1    1940.0
6406/3-1    1980.0
6406/3-1    2190.0
6406/3-1    2279.0
6406/3-1    2320.0
6406/3-1    2380.0
6406/3-1    2410.0
6406/3-1    2425.0
6406/3-1    2440.0
6406/3-1    2620.0
6406/3-1    3205.0
6406/3-1    3648.0
6406/3-1    3662.0
6406/3-1    3668.0
6406/3-1    3686.0
6406/3-1    3698.0
6406/3-1    3775.0
6406/3-1    3895.0
6406/3-1    4031.0
6406/3-1    4075.0
6406/3-1    4195.0
6406/3-1    4255.0
6406/3-1    4705.0
6406/3-1    4886.0
6406/3-1    4902.0
Name: Base_depth_m, Length: 105, dtype: float64

In [104]:
for key,value in c_dict.items():
    print(key)

Well
Period
Top_depth_m
Base_depth_m
Thickness_m
Top_age_Ma
Bottom_age_Ma

In [115]:
c_dict['Period'][2]

'LOWER PLIOCENE'

In [ ]:
for data.Well == chrono.Well:
    if data[Depth m RKB] > c_dict[0] & data[Depth m RKB] < c_dict[1]:
        data['Age']=c_dict[2]