In [1]:
import pandas as pd

In [2]:
file = 'BB_20190227_RE_data_chronostrat_combine_test.xlsx'
data = pd.ExcelFile(file)

In [3]:
sheets = data.sheet_names
sheets

['Chronostrat', 'RE data']

In [4]:
chrono = data.parse(sheets[0])
redata = data.parse(sheets[1])

In [5]:
#Show missing entries
def num_missing(x):
  return sum(x.isnull())

In [6]:
#Applying per column:
print ("Missing values per column:")
print (chrono.apply(num_missing, axis=0)) #axis=0 column

#Applying per row:
print ("\nMissing values per row:")
print (chrono.apply(num_missing, axis=1).head()) #axis=1 row

#Applying per column:
print ("Missing values per column:")
print (redata.apply(num_missing, axis=0)) #axis=0 column

#Applying per row:
print ("\nMissing values per row:")
print (redata.apply(num_missing, axis=1).head()) #axis=1 row

Missing values per column:
Well             0
Period           0
Top_depth_m      0
Base_depth_m     0
Thickness_m      0
Top_age_Ma       0
Bottom_age_Ma    0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64
Missing values per column:
Well                    0
Depth m RKB             0
Formation (NPD)         0
Type of measurement     0
samplith                0
tmax                    7
s1                      0
s2                      0
s3                     31
toc                     0
HI                      0
pi                      0
company_name            0
dtype: int64

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [7]:
chrono.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
Well             105 non-null object
Period           105 non-null object
Top_depth_m      105 non-null int64
Base_depth_m     105 non-null int64
Thickness_m      105 non-null int64
Top_age_Ma       105 non-null float64
Bottom_age_Ma    105 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.8+ KB

In [8]:
merge = pd.merge(chrono,redata)

In [9]:
len(merge)

10821

In [10]:
print(len(redata[redata['Well']=='6406/2-1']))
print(len(redata[redata['Well']=='6406/2-2']))
print(len(redata[redata['Well']=='6406/3-1']))

137
83
83

In [11]:
print(len(merge[merge['Well']=='6406/2-1']))
print(len(merge[merge['Well']=='6406/2-2']))
print(len(merge[merge['Well']=='6406/3-1']))

5343
2905
2573

In [12]:
print(len(chrono[ chrono['Well']=='6406/2-1']))
print(len(chrono[ chrono['Well']=='6406/2-2']))
print(len(chrono[ chrono['Well']=='6406/3-1']))

39
35
31

In [13]:
merge.head()

,Well,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma,Depth m RKB,Formation (NPD),Type of measurement,samplith,tmax,s1,s2,s3,toc,HI,pi,company_name
0,6406/2-1,QUATERNARY,302,1240,938,0.0,65.0,2510.000,SPRINGAR FM,DC,SH/CLYST,356.0,2.20,4.61,2.14,1.15,401,0.32,GEOLABNOR
1,6406/2-1,QUATERNARY,302,1240,938,0.0,65.0,2520.000,SPRINGAR FM,DC,SH/CLYST,362.0,1.05,3.00,1.74,1.00,300,0.26,GEOLABNOR
2,6406/2-1,QUATERNARY,302,1240,938,0.0,65.0,2530.000,SPRINGAR FM,DC,SH/CLYST,360.0,1.85,4.23,2.54,1.01,419,0.30,GEOLABNOR
3,6406/2-1,QUATERNARY,302,1240,938,0.0,65.0,2540.000,SPRINGAR FM,DC,CLYST/SH,360.0,1.34,2.97,1.72,0.80,371,0.31,GEOLABNOR(SAGA)
4,6406/2-1,QUATERNARY,302,1240,938,0.0,65.0,2540.001,SPRINGAR FM,DC,SH/CLYST,360.0,1.34,2.97,1.72,0.80,371,0.31,GEOLABNOR

In [14]:
merge = merge [ (merge['Depth m RKB'] > merge['Top_depth_m']) & (merge['Depth m RKB'] <= merge['Base_depth_m']) ]

In [15]:
len(merge.index)

303

In [20]:
merge.sample(10)

,Well,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma,Depth m RKB,Formation (NPD),Type of measurement,samplith,tmax,s1,s2,s3,toc,HI,pi,company_name
6777,6406/2-2,CONIACIAN,3070,3340,270,86.6,88.9,3080.0,SHETLAND,DC,CLYST/SH,428.0,26.05,3.79,0.89,2.01,189,0.87,GEOLABNOR(SAGA)
2074,6406/2-1,LOWER CAMPANIAN,2690,2848,158,78.5,86.6,2725.0,NISE FM,DC,CLYST/SH,355.0,2.42,4.50,2.02,1.28,352,0.35,GEOLABNOR(SAGA)
9716,6406/3-1,ALBIAN,3205,3648,443,97.0,112.0,3530.0,LANGE UP FM,DC,CLYST/SH,434.0,0.19,0.26,0.09,0.51,51,0.42,GEOLABNOR(SAGA)
9612,6406/3-1,UPPER CRETACEOUS,2620,3205,585,65.0,97.0,3140.0,SHETLAND,DC,MDST,434.0,0.08,0.78,0.49,0.95,82,0.09,GEOCHEM(SAGA)
9721,6406/3-1,ALBIAN,3205,3648,443,97.0,112.0,3565.0,LANGE UP FM,DC,SH,436.0,0.22,0.32,0.21,0.81,40,0.41,ROBERTSON(SAGA)
3269,6406/2-1,UPPER ALBIAN,4132,4300,168,97.0,102.0,4140.0,LANGE UP FM,DC,CLYST/SH,358.0,0.60,0.28,0.20,0.48,58,0.68,GEOLABNOR(SAGA)
7070,6406/2-2,MIDDLE CENOMANIAN,4040,4215,175,92.6,97.0,4047.0,LANGE UP FM,SWC,CLYST,446.0,1.48,0.79,NaN,0.75,105,0.65,SAGA(SAGA)
6518,6406/2-2,LOWER CAMPANIAN,2710,2910,200,78.5,83.0,2870.0,SHETLAND,DC,CLYST/SH,422.0,14.49,2.46,1.30,1.45,170,0.85,GEOLABNOR(SAGA)
1788,6406/2-1,UPPER CAMPANIAN,2503,2610,107,74.0,78.5,2575.0,SPRINGAR FM,DC,CLYST/SH,356.0,2.76,4.27,1.89,1.09,392,0.39,GEOLABNOR(SAGA)
9497,6406/3-1,LOWER CAMPANIAN,2440,2620,180,78.5,83.0,2500.0,SPRINGAR FM,DC,MDST,424.0,0.03,0.35,1.18,0.77,45,0.08,GEOCHEM(SAGA)

In [16]:
merge_rc = pd.merge(redata,chrono)
merge_rc = merge_rc [ (merge_rc['Depth m RKB'] > merge_rc['Top_depth_m']) & (merge_rc['Depth m RKB'] <= merge_rc['Base_depth_m']) ]

In [17]:
len(merge_rc.index)

303

In [21]:
merge_rc.sample(10)

,Well,Depth m RKB,Formation (NPD),Type of measurement,samplith,tmax,s1,s2,s3,toc,HI,pi,company_name,Period,Top_depth_m,Base_depth_m,Thickness_m,Top_age_Ma,Bottom_age_Ma
3997,6406/2-1,3880.000,LANGE UP FM,DC,CLYST/SH,341.0,0.67,0.21,0.28,0.31,68,0.76,GEOLABNOR(SAGA),LOWER TURONIAN,3450,3960,510,89.8,92.6
3412,6406/2-1,3665.000,LANGE UP FM,DC,CLYST/SH,342.0,0.76,0.34,0.42,0.28,121,0.69,GEOLABNOR(SAGA),LOWER TURONIAN,3450,3960,510,89.8,92.6
7778,6406/2-2,4100.000,LANGE UP FM,DC,CLYST/SH,433.0,33.89,3.40,0.83,2.13,160,0.91,GEOLABNOR(SAGA),MIDDLE CENOMANIAN,4040,4215,175,92.6,97.0
5461,6406/2-2,2630.000,SPRINGAR FM,DC,CLYST/SH,364.0,3.25,3.38,1.89,1.17,289,0.49,GEOLABNOR(SAGA),UPPER CAMPANIAN,2540,2710,170,74.0,78.5
4507,6406/2-1,4100.000,LANGE UP FM,DC,CLYST/SH,354.0,0.39,0.30,0.11,0.43,70,0.57,GEOLABNOR(SAGA),LOWER CENOMANIAN,4008,4132,124,94.8,102.0
208,6406/2-1,2550.001,SPRINGAR FM,DC,SH/CLYST,360.0,2.22,4.06,2.27,1.10,369,0.35,GEOLABNOR,UPPER CAMPANIAN,2503,2610,107,74.0,78.5
5212,6406/2-1,4352.000,LYR FM,SWC,LST,NaN,1.25,1.97,NaN,0.49,402,0.39,SAGA(SAGA),APTIAN,4340,4352,12,112.0,124.5
1693,6406/2-1,3025.000,SHETLAND,DC,CLYST/SH,361.0,1.71,4.91,2.02,1.21,406,0.26,GEOLABNOR(SAGA),SANTONIAN,2848,3070,222,83.0,86.6
4585,6406/2-1,4132.000,LANGE UP FM,SWC,SH,NaN,0.33,1.15,NaN,0.82,140,0.22,SAGA(SAGA),LOWER CENOMANIAN,4008,4132,124,94.8,102.0
10559,6406/3-1,3625.000,LANGE LOW FM,DC,SH,435.0,0.35,0.47,0.19,0.94,50,0.43,ROBERTSON(SAGA),ALBIAN,3205,3648,443,97.0,112.0

In [26]:
with pd.ExcelWriter('combine.xlsx') as writer:  # doctest: +SKIP
    merge.to_excel(writer, sheet_name='combined')